body {
  background-color: #eee !important;
}

section {
  padding: 50px;
}

/* HEADER */
.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(0,0,0,.6), rgba(0,0,0,.6)), url("https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: top;
}

.header * {
  color: white;
}

.center-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  text-align: center;
}

.primary-cta-button {

}

.metrics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;

  margin: 10px 0;
}

.metrics * {
  font-weight: bold;
  font-size: 20px;
}

.header-primary {
  color: var(--color-primary);
}

.header-secondary {
  color: white;
}

.f-65 {
  font-size: 65px;
}

.f-50 {
  font-size: 50px;
}

.f-30 {
  font-size: 30px;
}

.get-started-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-items: center;
  align-items: center;
  background-color: var(--color-primary);
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
  margin: 50px 0;
}

.about-card {
  padding: 30px;
  text-align: center;
}

.about-card-icon {
  width: 50px;
  margin-bottom: 15px;
}

.mail-icon {
  width: 50px;
}

.email-link, .email-link:hover {
  color: var(--color-secondary);
  text-decoration: none;
}

.footer {
  padding: 0;
  background-color: #333;
}

/* STORES WE USE SECTION */
.stores {
  background-color: var(--color-grey);
}

.stores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  justify-items: center;
  padding: 30px;
}
